<% if (errors) { %>
<% errors.forEach(function (error) { %>
<%= __(error) %>
<% }) %>
<% } %>


<% if (providers) { %>
<div>Войти с помощью:</div>

<ul style="list-style: outside none none; margin: 15px 0 0; padding: 0;">
<% Object.keys(providers).forEach(function (key) { %>
<li style="padding: 10px 0;"><a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a></li>
<% }) %>
<% } %>
</ul>
