<div class="head">
    <div class="head__column">
        <a href="/"><img class="logo" src="/images/logo.png"/></a>
    </div>
    <div class="head__column">
        <div class="site-name">
            <div class="site-name__main"><span>А</span>ктуальный <span>н</span>емецкий</div>
            <div class="site-name__info">Лучшие образовательные журналы на немецком и методические пособия</div>
        </div>

    </div>
    <div class="head__column">
        <div class="login">
            <% if(res.locals.user && res.locals.user.email) { %>
            <div class="login__name"><a href="/user/<%= res.locals.user.email %>"><%= res.locals.user.email %></a></div>
            <% } else { %>
            <div class="login__enter"><a href="/login/">Войти</a></div>
            <% } %>
        </div>
        <div class="cart">
            <div class="cart__info">TODO: В вашей корзине
                <div class="cart__count">
                    <span class="cart__value">TODO: кол-во </span>
                    <span class="cart__unit">товаров</span>
                </div>
            </div>
            <div class="cart__icon">
                <i class="icon icon_type_cart" style="background-image:url(/icons/cart.png)"></i>
            </div>
            <div class="cart__order">
                <a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/cart/">Оформить заказ</a>
            </div>
        </div>
    </div>
</div>
