<div class="menu menu_type_main menu__control i-bem"
     data-bem="{&quot;menu&quot;:{}}"
     role="menu" tabindex="0">
    <div class="menu__items">
        <div class="menu__item"><a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/item/">Об
                издательстве</a>
        </div>
        <div class="menu__item"><a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/item/">Как
                оформить заказ</a>
        </div>
        <div class="menu__item"><a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/item/">Доставка
                и оплата</a>
        </div>
        <div class="menu__item"><a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/item/">Предзаказ</a>
        </div>
        <div class="menu__item"><a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/item/">Контакты</a>
        </div>
    </div>
</div>
