.cart
{
    width: 100%;
}

.cart__title
{
    font-size: .9em;

    display: inline-block;

    margin: 0 0 0 15px;

    vertical-align: top;
}

.cart__footer td
{
    font-size: 20px;
    font-weight: bold;

    padding: 0 15px 0 0;

    text-align: right;
}
