<!--
<div class="catalog">

    <div class="section">
        <div class="section__top">
            <span class="section__header">TODO: заголовок секции</span>
          <span class="section__link">
            <a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/items/1">
                все номера журнала TODO: название журнала</a>
          </span>
        </div>
        &lt;!&ndash; /section__top &ndash;&gt;
        <div class="section__items">
            <div class="catalog__item section__item">
                <div class="product">
                    <img class="product__image" src="TODO: ссылка на фото"/>

                    <div class="product__title">TODO: номер</div>
                    <div class="product__info">
                        <span class="product__head">TODO: Тема: </span>
                        <span class="product__text">TODO: текст</span>
                    </div>
                    <a class="link link__control product__link i-bem" data-bem="{&quot;link&quot;:{}}"
                       href="TODO: сслыка на подробнее">Подробнее</a>

                    <div class="price product__price">
                        <span class="price__value">TODO: цена</span>
                        <span class="price__currency"> p.</span>
                    </div>

                    <div class="product__buy">
                        <button class="button button_type_buy button__control i-bem" data-bem="{&quot;button&quot;:{}}"
                                role="button">Купить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /section &ndash;&gt;

</div>&lt;!&ndash; / catalog &ndash;&gt;
-->
