<!DOCTYPE html>
<html class="ua_js_no">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>Welcome to index!</title>
  <script>
    (function(e,c){e[c]=e[c].replace(/(ua_js_)no/g,"$1yes");})(document.documentElement,"className");
  </script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/_merged.css">
  <!--STYLES END-->
</head>

<body class="page">
<%- include partials/head.ejs %>

<%- include partials/menu_type_main.ejs %>

<div class="content">
  <div class="content__column content__column_position_left">

    <!--
    <div class="promo">
      <div class="promo__header content__header">Почему сейчас актуален немецкий?</div>
      <div class="promo__content">TODO: Промо статьи </div>
    </div>-->

    <!--
    <div class="actions">
      <div class="actions__header content__header">Акции</div>
      <div class="actions__content">
       TODO: Акции
      </div>
    </div><!-- /actions -->


    <!--    <div class="news">
          <div class="news__header content__header">Новости</div>
          <div class="news__content">
            <div class="news-item">
              <span class="news-item__date">TODO: дата новости</span>
              <span class="news-item__content">TODO: содержание новости</span>
            </div>
          </div>
        </div>&lt;!&ndash; /news &ndash;&gt;-->


    <!--    <div class="partners">
          <div class="partners__header content__header">Наши партнеры</div>
          <div class="partners__content">TODO: Партнеры</div>
        </div>&lt;!&ndash; /partners &ndash;&gt;-->


    <div class="social-share"></div>

  </div>

  <div class="content__column content__column_position_right">

    <%- body %>

  </div><!-- /content__column_position_right -->
</div>

<%- include partials/footer.ejs %>

<!--SCRIPTS-->
<script src="/js/_merged.js"></script>
<!--SCRIPTS END-->
</body>

</html>
