.product-card
{
    font-size: 14px;

    color: #656464;
}

.product-card .product-card__property-header
{
    font-weight: bold;
}

.product-card .product-card__control
{
    display: inline-block;

    margin: 25px 0 0 0;

    vertical-align: top;
}

.product-card .product-card__edit .link
{
    font-size: 1.1em;

    display: inline-block;

    margin: 15px 0;
    padding: 5px 10px;

    background-color: gold;
}

.product-card_type_edit .product-card__edit
{
    display: none;
}

.product-card_type_edit .image
{
    margin: 15px 0;

    border: 1px solid #ccc;
}
