.product-card
{
    font-size: 14px;

    color: #656464;
}

.product-card .product-card__property-header
{
    font-weight: bold;
}

.product-card .product-card__control
{
    display: inline-block;

    vertical-align: top;
}

.product-card .product-card__edit .link
{
    font-size: 1.1em;

    display: inline-block;

    margin: 15px 0;
    padding: 5px 10px;

    background-color: gold;
}
