.button_type_buy
{
    background: none;
    border: 4px solid #b3cdeb;
    border-radius: 20px;
    padding: 5px 36px;
    color: #6699cc;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button_type_buy:focus
{
    outline: none;
}
