.product-card__isbn
{
    font-size: 14px;

    margin: 0 0 30px 0;

    color: #919091;
}

.product-card__isbn .product-card__property-header
{
    font-weight: normal;
}

.product-card__isbn .input
{
    width: 100%;
}
