Product#edit

<form class="product-card-create"
      action="/product/<%= product.id %>/update"
      method="post"
      enctype="multipart/form-data">

    <%- include _form.ejs %>

</form><!-- /product-card-create -->
