.page
{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, sans-serif;
}
.footer
{
    height: 150px;
    background: #e5f1fc;
}
.head
{
    margin: 15px 0 0 0;
}
.head__column
{
    display: inline-block;
    vertical-align: top;
}
.logo
{
    width: 250px;
    height: 200px;
}
.site-name
{
    margin: 0 0 15px 0;
}
.site-name__main
{
    color: #6699cc;
    font-size: 56px;
}

.site-name__main > span
{
    color: #cc0000;
}
.site-name__info
{
    color: #6699cc;
    font-size: 18px;
}
.search
{
}
.search__input
{
    width: 630px;
    display: inline-block;
    vertical-align: top;
}
.search__button
{
    vertical-align: top;
    display: inline-block;
}
.search__title
{
    text-align: center;
    color: #919091;
    margin: 5px 0 0 0;
}
.input_type_search
{
}

.input_type_search .input__control
{
    display: inline-block;
    width: 630px;
    background: #f0f0f0;
    border: 0;
    font-size: 16px;
    padding: 10px 5px;
    outline: none;
    -webkit-appearance: none;
}
.button_type_search
{
    background: #ffebcc;
    border: 0;
    font-size: 16px;
    padding: 10px;
    margin: 2px 0 0 1px;
}
.login
{
    color: #6699cc;
}
.login__name
{
    font-weight: bold;
}
.cart
{
    position: relative;
    color: #6699cc;
    margin: 15px 0 0 0;
}
.cart__info
{
    width: 150px;
    margin: 0 50px 0 0;
    font-size: 12px;
    font-style: italic;
}
.cart__icon
{
    position: absolute;
    right: 0;
    top: -10px;
}
.cart__order
{
    margin: 10px 0 0 0;
    font-size: 14px;
}
.icon_type_cart
{
    height: 41px;
    width: 55px;
}
.link
{
}
.link__control
{
    color: #6699cc;
}
.content
{
    display: table;
}
.content__column
{
    display: table-cell;
    vertical-align: top;
}
.content__column_position_left
{
    width: 193px;
    background: #e5f1fc;
}
.content__column_position_right
{
    padding: 25px 30px;
}
.content__header
{
    background: #cee0f5;
    text-align: center;
    color: #6699cc;
    font-weight: bold;
    margin: 15px 0 0 0;
    padding: 10px 5px;
    font-size: 14px;
}
.actions
{
}
.actions__content
{
    margin: 15px auto;
    width: 140px;
}
.actions__header
{
}
.news__content
{
    margin: 10px 15px 0 15px;
}
.news-item
{
    font-size: 13px;
    margin: 0 0 30px 0;
}

.news-item:last-child
{
    margin-bottom: 15px;
}
.news-item__date
{
    color: #6699cc;
    font-weight: bold;
    font-style: italic;
    margin: 0 5px 0 0;
}
.news-item__content
{
}
.partners__header
{
}
.partners__content
{
    margin: 10px 15px 0 15px;
}
.promo
{
}
.promo__content
{
    padding: 15px 10px;
    font-size: 13px;
    line-height: 1.3em;
}
.promo__header
{
}
.catalog
{
    /*margin: 25px 30px;*/
}
.catalog__item
{
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 60px 0;
    width: 140px;
}
.section
{
    margin-bottom: 60px;
}
.section__top
{
    margin-bottom: 25px;
}
.section__header
{
    color: #cc3333;
    font-weight: bold;
    font-size: 28px;
}
.section__link
{
}

.section__link:before
{
    content: '--->>';
    margin: 0 10px;
    color: #9e9d9e;
    font-family: serif;
}

.section__link .link
{
    color: #9e9d9e;
}
.section__items
{
    margin: 0 20px;
}
.menu__items
{
    width: 100%;
    background: #cee0f5;
    padding: 10px 0;
    margin-top: 15px;
}
.menu__item
{
    display: inline-block;
    vertical-align: top;
    width: 19%;
    text-align: center;
    color: #6699cc;
    font-family: Arial;
}
.product
{

}
.product__image
{
    width: 138px;
    height: 182px;
    border: 1px solid #e5e1de;
}
.product__title
{
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 15px;
    color: #656464;
}
.product__info
{
    color: #656464;
    margin: 10px 15px 10px 0;
    font-size: 15px;
}
.product__price
{
    color: #6699cc;
    font-weight: bold;
    text-align: right;
    margin: 0 0 15px 0;
    font-size: 20px;
}
.product__buy
{
    text-align: center;
}
.product__link
{
    color: #919091;
    font-style: italic;
    font-size: 13px;
    margin: 0 0 20px 0;
    display: inline-block;
}
.button_type_buy
{
    background: none;
    border: 4px solid #b3cdeb;
    border-radius: 20px;
    padding: 5px 36px;
    color: #6699cc;
    font-size: 14px;
    font-weight: bold;
}

.button_type_buy:focus
{
    outline: none;
}
.price
{
}
.breadcrumb
{
    list-style: none;
    margin: 0 0 40px 8px;
    padding: 0;
}
.breadcrumb__item
{
    display: inline-block;
    vertical-align: top;
    color: #919091;
    font-size: 15px;
    font-style: italic;
}

.breadcrumb__item:after
{
    content: '--->>';
    margin: 0 10px;
    color: #9e9d9e;
    font-family: serif;
}

.breadcrumb__item:last-child:after
{
    display: none;
}

.breadcrumb__item > .link
{
    color: #919091;
}
.product-card
{
    color: #656464;
    font-size: 14px;
}

.product-card .product-card__property-header
{
    font-weight: bold;
}

.product-card .product-card__property-content
{

}
.product-card__header
{
    color: #cc3333;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 40px 0;
}
.product-card__info-header
{
    color: #adceec;
    font-weight: bold;
    margin: 0 0 50px 0;
    font-size: 28px;
}
.product-card__image
{
    width: 370px;
}

.product-card__image.image
{
    border: 1px solid #e5e1de;
}
.product-card__theme
{
    margin: 0 0 30px 0;
}
.product-card__annotation
{
    margin: 0 0 30px 0;
}
.product-card__content
{
    margin: 0 0 25px 0;
}

.product-card__content .product-card__property-header
{
    display: block;
}

.product-card__content .product-card__property-content
{
    display: block;
}
.product-card__isbn
{
    font-size: 14px;
    color: #919091;
}

.product-card__isbn .product-card__property-header
{
    font-weight: normal;
}
.product-card__balance
{
    color: #94b8db;
    font-size: 16px;
    margin: 0 0 30px 0;
}
.product-card__e-buy-info
{
    color: #94b8db;
    font-size: 16px;
}
.product-card__spreads
{
    margin: 35px 0 0 0;
}
.product-card__reviews
{
    margin: 35px 0 0 0;
}
.product-card__publish-info
{
    margin: 85px 0 0 0;
}
.product-card__columns
{
    display: table;
}
.product-card__price
{
    color: #6699cc;
    font-weight: bold;
    margin: 30px 0 0 0;
    font-size: 20px;
}
.product-card__buy
{
    margin: 0 0 0 140px;
}
.product-card__column
{
    display: table-cell;
    vertical-align: top;
}
.product-card__column_position_left
{
}
.product-card__column_position_center
{
    padding: 0 0 0 30px;
    width: 350px;
}
.product-card__column_position_right
{
    width: 165px;
    padding: 0 0 0 160px;
}
.gallery
{

}
.gallery__items
{
    list-style: none;
    margin: 0;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    width: 800px;
}
.gallery__item
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
}

.gallery__item > .image
{
    width: 138px;
    height: 182px;
    border: 1px solid #e5e1de;
}
.gallery__control
{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    color: #cc3333;
    font-size: 40px;
    font-family: serif;
    cursor: pointer;
    line-height: 40px;
}
.gallery__control_direction_prev
{
    left: 0;
}
.gallery__control_direction_next
{
    right: 0;
}
.gallery__content
{
    position: relative;
}
.gallery__viewport
{
    margin: 0 40px;
}
.reviews
{
}
.reviews__expand
{
    float: right;
}
.reviews-item
{
    margin: 0 0 30px 0;
}

.reviews-item:last-child
{
    /*margin-bottom: 0;*/
}
.reviews-item__date
{
    color: #6699cc;
    font-weight: bold;
    font-style: italic;
    margin: 0 5px 0 0;
}
.reviews-item__content
{
}
.publish-info
{
}
.publish-info__content
{
    margin: 0 0 0 205px;
}
/* /Users/alexbaum/Projects/alexbaum_projects/proto-on-bem/libs/bem-components/common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon .image {
  margin: -5.18em 0 -5em;
/* 0.18 — magic number, empirically found */
  vertical-align: middle;
}
/* /Users/alexbaum/Projects/alexbaum_projects/proto-on-bem/libs/bem-components/common.blocks/icon/icon.styl:end */
/* /Users/alexbaum/Projects/alexbaum_projects/proto-on-bem/libs/bem-components/common.blocks/menu/menu.styl:begin */
.menu {
  overflow-y: auto;
}
/* /Users/alexbaum/Projects/alexbaum_projects/proto-on-bem/libs/bem-components/common.blocks/menu/menu.styl:end */
/* /Users/alexbaum/Projects/alexbaum_projects/proto-on-bem/libs/bem-components/common.blocks/image/image.styl:begin */
.image {
  border: 0;
}
/* /Users/alexbaum/Projects/alexbaum_projects/proto-on-bem/libs/bem-components/common.blocks/image/image.styl:end */
