.breadcrumb__item
{
    font-size: 15px;
    font-style: italic;

    display: inline-block;

    vertical-align: top;

    color: #919091;
}

.breadcrumb__item:after
{
    font-family: serif;

    margin: 0 10px;

    content: '--->>';

    color: #9e9d9e;
}

.breadcrumb__item:last-child:after
{
    display: none;
}

.breadcrumb__item > .link
{
    color: #919091;
}
